nav {
display:flex;
flex-direction: row;
justify-content: space-between;
background-color: lightcoral;
}

section {
background-color: purple;
display:flex;
flex-direction:row;
}

footer {
background-color: darkcyan;
display: flex;
flex-direction: row;
justify-content: space-between;

}
